
x.html
.extract.meta.swp
automation/orsite.csv
*.swp
*.swp
automation/deltaCalculator.log
automation/automated.txt
automation/__pycache__/deltaCalculator.cpython-37.pyc
automation/br.txt
.DS_Store
automation/HR.txt
automation/hr.pdf.txt
automation/hr.pdf
automation/hr.csv
*.txt
*.csv
*.pdf
*.jpg
*.png
automation/ocr/ocrconfig.meta
automation/ocr/ocrconfig.meta
